<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Adding a new user</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/Style.css" th:href="@{/css/Style.css}"
	rel="stylesheet" />
</head>
<body>
	<h1>Insert user details</h1>
	<form action="#" th:action="@{/add}" th:object="${user}" method="post">
		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Email: <input type="text" th:field="*{email}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>

	</form>

	
	<button class="myButton"
		onclick="window.location.href = '/findUser';">Find User by Name</button>
	

	<button class="myButton"
		onclick="window.location.href = '/displayAll';">See all users</button>
		
		<button class="myButton" onclick="window.location.href = '/deleteUser';">Delete a user</button>

</body>
</html>